header, footer, nav, section, article, aside {
        display: block;
}

body {
    background-color: #A4A4A4;
}

#main-container {
    background-color: #FFF;
}

#header {
    background-color:#0061FF;
    color: #FFF;
    margin: 0;
    text-align: center;
}

#footer {
    margin-top: 10px;
    background-color: #222222;
    color: #9D9D9D;
    text-align: center;
}
 h2 {
     text-align: center;
}

img {
    border: 1px solid black;
    box-shadow: 3px 3px 3px grey;
    width: 100%;
} 